body {
  margin: 0;
  background-color: #ececec;
  color: #3b3b3b;
  font-family: 'Hanken-Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  width: 100%;
  position: fixed;
  top:0;
  height: 100px;
  background-color: #ffb700;

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: 0 auto;

    .leftSide{
      display: flex;

      h3{
        margin-left: 20px;
      }
    }

    .rightSide{
      display: flex;
      align-items: center;
      p{
        font-weight: bold;
        margin-right: 20px;
      }
    }

    button{
      background-color: rgba(255, 0, 0, 0);
      border: 0;
    }
  }
}

.welcomePage{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-color: #ffb700;

  h2{
    font-size: 32px;
    margin: 60px auto;
    color:black;
  }

  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
    list-style-type: none;


    a{
      color:black;
      text-decoration: none;
    }

    li{
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 100%;

      img{
        margin-bottom: 10px;
      }
    }

    .disabled{
      color: gray;

      img{

      }
    }
  }
}

.content{
  display: flex;
  width: 80%;
  height: 1000px;
  padding-top:150px;
  margin: 0 auto;
  background-color: white;

  .navigation{
    width: 20%;
    height: 100%;
    border-right: 1px solid #e3e3e3;

    ul{
      margin:0;
      padding: 30px;
    }

    li{
      list-style-type: none;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      border-bottom: 0.1px solid #e0e0e0;
      padding: 7px;

      img{
        background-color: #e8e8e8;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }

  .menuList{
    width: 80%;
    height: 100%;
    padding: 0 40px;

    h3{
      margin: 0;
    }

    .menuItems{
      display: flex;
      flex-wrap: wrap;

      .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 210px;
        border: 1px solid #e3e3e3;
        border-radius: 20px;
        margin-right: 14px;
        margin-bottom: 20px;

        .topPart{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 130px;
          border-radius: 20px 20px 0px 0px;
          border-bottom: 1px solid #e3e3e3;

          img{
            max-width: 100%;
            max-height: 100%;
          }

        }

        .bottomPart{
          width: 100%;
          height: 70px;
          display: flex;
          justify-content: space-between;

          .price{
            width: 60px;
            margin-right: 5px;
            height: 100%;
            flex-grow: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
          }

          p{
            height: 100%;
            width: 150px;
            margin: 5px 5px;
          }

          button{
            background: none;
            border: 0;
          }
        }
      }

      .focused{
        box-shadow: 2px 2px 5px rgba(89, 89, 89, 0.59);
      }
    }
  }
}

.cart{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
  top: 100px;
  right: -350px;
  padding: 0 20px;
  transition: 0.5s;

  ul{
    max-height: 50vh;
    margin: 0;
    padding: 10px 10px;
    overflow-y: auto;
  }

  li{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;

    .info{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      b{
        margin-right: 20px;
        white-space: nowrap;
      }
    }

    .buttons{
      display: flex;
      justify-content: space-between;
    }

    button{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ffb700;
      border: none;
    }
  }

  .topCart{
    display: flex;
    justify-content: space-between;
  }

  .bottomCart{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    a{
      align-self: center;
    }

    button{
      width: 100px;
      height: 40px;
      margin-top: 10px;
      background-color: #52e060;
      align-self: center;
      border: 0;
      border-radius: 30px;
    }
  }

  button{
    background-color: transparent;
    border:0
  }
}

.cartOpen{
  right: 0;
}

.account{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 1000px;
  padding-top:110px;
  margin: 0 auto;
  background-color: white;

  .accountNavigation{
      display: flex;

      li{
        list-style-type: none;
        margin-right: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #cccccc;

        .active{
          border-bottom: 1px solid greenyellow;
        }
      }
  }

  .accountContent{
    margin: 0 auto;
  }

  .contactInfo{
    width: 40%;

    input, select{
      width: 80%;
      padding: 10px 10px;
      border: 1px solid #c2c2c2;
      border-radius: 10px;
      margin-bottom: 15px;
      margin-top: 10px;
    }

    button{
      width: auto;
      height: auto;
      padding: 10px 10px;
      background-color: #52e060;
      border: 0;
      border-radius: 10px;
    }

    .address{
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      button{
        width: 20px;
        height: 20px;
        padding: 5px 5px;
        border-radius: 100%;
        background-color: #c2c2c2;
      }
    }

    ul{
      padding: 0;
    }
  }

  .orderList{
    width: 80%;
    margin-top: 20px;

    table{
      width: 100%;
      border-collapse:collapse;

      th{
        text-align: left;
      }

      td{
        text-align: left;
        padding: 20px 0;
        border-bottom: 1px solid #d2d2d2;
      }

      #cancel{
        color: #ffffff;
        width: 100%;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        background-color: #ff5454;
      }
    }
  }
}

.confirmationOrder{
  width: 80%;
  height: 100%;
  padding:150px 0 150px 0;
  margin: 0 auto;
  background-color: white;

  .return{
    display: flex;
    flex-direction: row;
    align-items: center;

    img{
      margin-right: 5px;
    }
  }


  a{
    color:black;
    text-decoration: none;
  }

  .contentConf{
    display: flex;
    flex-direction: column;
    margin: 0 70px;

    #price{
      font-size: 22px;
      align-self: end;
      margin-bottom: 30px;
    }

    h2{
      margin-bottom: 40px;
    }

    .list{

      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e0e0e0;

        .left{
          img{
            margin-right: 20px;
          }

          p{
            margin-right: 10px;
          }

          .count{
            font-size: 22px;
          }

          display: flex;
          align-items: center;
        }

        .right{
          display: flex;
          align-items: center;

          .price{
            margin-right: 20px;
          }

          button{
            width: 35px;
            height: 35px;
            padding: 10px 10px;
            border-radius: 50%;
            background-color: #ffb700;
            border: none;
            margin-right: 5px;
          }

          .deleteButton{
            margin-left: 10px;
            background-color: rgba(255, 183, 0, 0);
          }
        }
      }
    }

    .chooseAddress{
      margin-bottom: 40px;

      .inputAddress{

        display: flex;

        input{
          width: 100%;
          font-size: 22px;
          padding: 10px;
          border: 1px solid #cbcbcb;
          border-radius: 10px 0px 0px 10px;
        }

        button{
          width: 10%;
          border: 1px solid #cbcbcb;
          border-radius: 0px 10px 10px 0px;
          background-color: #13dc98;
        }
      }

      .readyAddress{
        li{
          display: flex;
          justify-content: space-between;
          list-style-type: none;
          font-size: 20px;
          padding: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid #e8e8e8;

          button{
            border: 1px solid #cbcbcb;
            border-radius: 10px;
            background-color: #13dc98;
          }
        }
      }
    }

    .contactInfo{
      margin-left: 20px;
      font-size: 22px;
    }

    #confirmOrder{
      width:30%;
      height: 40px;
      margin: 30px auto;
      border: 1px solid #cbcbcb;
      border-radius: 10px;
      background-color: #ffb700;
    }
  }
}

.disable{
  button: disable;
}